@import "tailwindcss";

@theme inline {
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-foreground: #ededed;
  --color-accent: #d4ff00;
  --color-muted: #a0a0a0;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfair);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
